html,
body {
  height: 100%;
}

body {
  background-color: gainsboro;
  font-family: "Raleway", sans-serif;
}

.main-header {
  width: 100%;
  min-height: 200px;
  background-color: #171e25;
  padding-top: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.main-header h1 {
  font-size: 3em;
  color: white;
  margin-top: 8px;
  font-family: "Girassol", cursive;
}

.main-header img {
  position: absolute;
  bottom: -40px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: all 0.5s ease-in-out;
}

.main-header img:hover {
  box-shadow: 1px 5px 10px rgb(0 0 0 / 50%);
  transform: scale(1.1);
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 100px 0 100px;
}

.inner-container {
  width: 900px;
  display: flex;
}

.about-section {
  background-color: aliceblue;
  width: 300px;
  margin-right: 48px;
  border-radius: 5px;
  padding: 24px;
}

.main-feed {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 24px;
  flex-grow: 1;
}
